<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="shared-styles.html">

<dom-module id="offer-list">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .offer-link {
        text-decoration: none;
        color:black;
      }
      .offer-link:hover {
        text-decoration: underline;
        color: #bc5a12;
        font-weight: bold;
      }
      .grid-header {
        background: #bc5a12;
      }
    </style>

    <div class="card">
      <iron-ajax auto url="/src/offers.json" handle-as="json" on-response="handleResponse" last-response="{{offers}}"></iron-ajax>
      
      <template is="dom-if" if="{{!showLoader}}">
        <h1>Offer Listing Report</h1>
      </template>
      <template is="dom-if" if="{{showLoader}}">
        <div align="center"><paper-spinner active>...</paper-spinner></div>
      </template>

      <template is="dom-if" if="{{!showLoader}}">
        <vaadin-grid items="[[offers.offer]]" column-reordering-allowed multi-sort>

          <vaadin-grid-column width="9em" resizable>
            <template class="header">
              <vaadin-grid-sorter path="offerId">Offer Id</vaadin-grid-sorter>
            </template>
            <template>
              <a class="offer-link" href="[[rootPath]]offer-details/[[item.OfferId]]">[[item.OfferId]]</a>
            </template>
          </vaadin-grid-column>

          <vaadin-grid-column width="5em" resizable>
            <template class="header">
              <vaadin-grid-sorter path="customerId">Customer Id</vaadin-grid-sorter>
            </template>
            <template>[[item.CustomerId]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column width="5em" resizable>
            <template class="header">
              <vaadin-grid-sorter path="placeName">Place Name</vaadin-grid-sorter>
            </template>
            <template>[[item.PlaceName]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column width="8em" resizable>
            <template class="header">
              <vaadin-grid-sorter path="state">State</vaadin-grid-sorter>
            </template>
            <template>[[item.State]]</template>
          </vaadin-grid-column>

        </vaadin-grid>
      </template>
    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'offer-list'; }

      static get properties() {
        return {
          showLoader:{
            type:Boolean,
            value:true
          }}
        }
        handleResponse() {
          this.showLoader =false;
        }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
