<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="offer-details">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Offer Details</h1>
      <iron-ajax auto url="/src/offers.json" handle-as="json" last-response="{{offers}}"></iron-ajax>
      <div items="[[offers.offer]]">
        <p>OfferId :  435234[[item.OfferId]]</p>
        <p>CustomerId : 37158942[[item.CustomerId]]</p>
        <p>PlaceId :  9385377574828[[item.PlaceId]]</p>
        <p>PlaceName :  Starbucks[[item.PlaceName]]</p>
        <p>PlaceAddress : 2/525 George Street, Sydney[[item.PlaceAddress]]</p>
        <p>GeneratedTime :  2018-01-17T07:50:14[[item.GeneratedTime]]</p>
        <p>ExpirationTime :  2018-01-17T08:50:14[[item.ExpirationTime]]</p>
        <p>State :  created[[item.State]]</p>
      </div>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'offer-details'; }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
