<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/webcomponentsjs/webcomponents-lite.js">

<dom-module id="user-form">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .getoffer{
        background: #ff8002;
        color: #fff;
        margin: 20px 0 0 0;
      }
      .row{
        display: block;
        width: 100%;
      }
      .col-6{
        width: 48%;
        padding: 0 1%;
        display: inline-block;
      }
      .formelement{
        width: 90%;
        margin: 5px 0 0 0;
      }
    </style>

    <div class="card">
      <h1>User Panel</h1>
      <iron-form is="iron-form" id="postOrder">
      <form method="get" action="" id="frmOrder">
        <div class="row">
        <div class="col-6">
        <div class="formelement">
            <paper-input name="cif" value="{{frmObj.cif}}" always-float-label label="Cif" error-message="cif required" required auto-validate allowed-pattern="[0-9\.\_\-]"></paper-input>
          </div>
          <div class="formelement">
            <paper-input name="devideId" value="{{frmObj.devideId}}" always-float-label label="Device Id" error-message="Device Id Required" required auto-validate allowed-pattern="[A-Z0-9\.\_\-]"></paper-input>
          </div>
          <div class="formelement">
            <paper-input name="latitude" value="{{frmObj.latitude}}" always-float-label label="Latitude" error-message="Latitude Required" required auto-validate allowed-pattern="[0-9\.\_\-]"></paper-input>
          </div>
          <div class="formelement">
            <paper-input name="longitude" value="{{frmObj.longitude}}" always-float-label label="Longitude" error-message="Longitude Required" required auto-validate allowed-pattern="[0-9\.\_\-]"></paper-input>
          </div>
          <div class="formelement">
            <paper-input name="geofenceId" value="{{frmObj.geofenceId}}" always-float-label label="Geofence Id" error-message="Geofence Id Required" required auto-validate allowed-pattern="[a-zA-Z0-9\.\_\-]"></paper-input>
          </div>
          <div class="formelement">
              <paper-button  id="getoffer" class="getoffer" on-click="submitForm" raised>Get Offer</paper-button>
            </div>
          </div><!-- col6 end -->
          <div class="col-6">
            
          </div>
          </div><!--row end -->
      </form>
    </iron-form>
  <iron-ajax 
        id="postData"
        url="api_link"
        method="post"
        body= '{{frmObj}}'
        handle-as="json"
        content-type="application/json"
        on-response="handleResponse"
        on-error="checkError"
        debounce-duration="300">
      </iron-ajax>

    </div>
  </template>

  <script>
    class UserForm extends Polymer.Element {
      static get is() { return 'user-form'; }
      static get properties(){
        return{
          frmObj:{
            type: Object,
            value: {}
          },

        }
      }
      submitForm(){
        if(this.$.postOrder.validate()){
            var d = new Date();
            var dt = d.getFullYear() + "-" + ('0' + (d.getMonth() + 1)).slice(-2) + "-" + ('0' + d.getDate()).slice(-2) + "T" + ('0' + d.getHours()).slice(-2) + ":" + ('0' + d.getMinutes()).slice(-2) + ":" + ('0' + d.getSeconds())+'Z';
            this.frmObj.timePlaced = dt;
            console.log(this.frmObj);
            this.frmObj = JSON.parse(JSON.stringify(this.frmObj));
            console.log(this.$.postData.body);
            this.$.postData.generateRequest();

        }
      
      }
      handleResponse(){

        console.log('working handleResponse');
      }
      checkError(){
        alert(this.frmObj.cif);
        
      }
    }
    
    window.customElements.define(UserForm.is, UserForm);
  </script>
</dom-module>
